<html>
<head>
<title><%= team_name %> slack cards</title>
<style>
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 345px;
    height: 209px;
    border: #000000 solid 1px;
  }
  .user {
    text-align: center;
  }
  .usericon {
    width:       192px;
    height:      192px;
    margin-left: 5px;
    display:     inline;
  }
  .name {
    padding-left: 10px;
    padding-right: 5px;
    font-weight:  bold;
    vertical-align: middle;
  }
  .username {
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .realname {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: top;
  }
  .team {
    padding: 10px;
    height:  70px;
    text-align: right;
  }
  .teamicon {
    width:   50px;
    height:  50px;
  }
</style>
</head>
<body>
<div class="wrapper">

<% users.forEach(function(user){ %>
<div class="element">
  <table class="card">
    <tbody>
    <tr>
      <td width="190" rowspan="4" class="user"><img class="usericon" src="<%= user.icon %>"></td>
    </tr>
    <tr>
      <td colspan="2" class="name"><div class="username"><%= user.name %></div></td>
    </tr>
    <tr>
      <td colspan="2" class="realname"><p><span><%= user.real_name %></span></p></td>
    </tr>
    <tr>
      <td class="team"><img class="teamicon" src="<%= team_icon %>"></td>
    </tr>
    </tbody>
  </table>
</div>
<% }) %>

</div>
</body>
</html>
